<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="loader/loader.js"></script>

    <style>
        body, html
        {
            position: relative;
            padding:  0;
            margin:   0;
            width:    100%;
            height:   100%;
            overflow: auto;
            background-color: #eee;
        }

        .grid
        {
            display: grid;
        }

        .col
        {

        }
    </style>
</head>
<body>
    <!--div class="grid">
        <div class="col">A</div>
        <div class="col">B</div>
        <div class="col">A</div>
        <div class="col">Bfdgdfgdfgdf</div>
        <div class="col">Adfgfdgfgdfgdf</div>
        <div class="col">Bgfdgfdfgfdg</div>
        <div class="col">Agfdgdfgfdgdf</div>
        <div class="col">Bgfdgdfgdfgdfgfd</div>
    </div-->

    <!--input oninput="searchText = this.value; redraw(view)">
    <button onclick="texts = ['text1', 'text2', 'text3']; redraw(view)">click</button>
    <div-->

    <script>
        /*
        var Number = require('number/number.js')
        var Polynom = require('polynom/polynom.js')

        var a = Number.create()
        var b = Number.copy(Number.one)

        //a.isNegate = true
        Number.addTail(a, 1)
        //Number.addTail(a, 1)

        Number.add(a, b)
        //Number.add(a, b)
        //Number.add(a, b)

        //console.log(a)*/

        var View = require('view/view.js')
        var Label = require('view/elements/label.js')
        var Layout = require('view/elements/layout.js')
        var TextInput = require('view/elements/text input.js')
        var Block = require('view/elements/block.js')
        var Image = require('view/elements/image.js')

        var view = View.create(document.body)

        Label.add(view)
        Layout.add(view)
        TextInput.add(view)
        Block.add(view)
        Image.add(view)

        var searchText = ''
        var texts = ['text1', 'text2']
/*
        function redraw(view) {
            view
                .begin()
                    .layout({width: '50%', height: '50%', backgroundColor: '#0a0'})
                    .begin()
                        .label('text')
                    .end()

                    .layout({width: '50%', height: '50%', backgroundColor: '#a00'})
                    .begin()
                        .for_each (texts, function(view, text) {
                            view
                                .if(text.indexOf(searchText) >= 0, function(view) {
                                    view
                                        .label(text)
                                })
                        })
                    .end()

                    .layout({width: '100%', height: '50%', backgroundColor: '#00a'})
                    .begin()
                        .text_input({oninput: function(event){ console.log(event) }})
                    .end()
                .end()
        }*/

        function redraw(view) {
            view
                .begin()
                    .layout({
                        width: '100%',
                        height: '50px',
                        zIndex: 1,
                        backgroundColor: 'rgb(28, 66, 125)',
                        boxShadow: '1px 1px 7px 0px #000'
                    })
                    .begin()
                        //.label('Приложения')
                    .end()

                    .layout({
                        width: '100%',
                        height: 'calc(100% - 50px)'
                    })
                    .begin()
                        .block({
                            width: 'calc(100%)',
                            height: 'calc(100%)',
                            padding: '7.5px 0 0 7.5px',
                            backgroundColor: 'rgb(201, 209, 222)',
                            boxShadow: '1px 1px 7px 0px #aaa'
                        })
                        .begin()
                            .layout({
                                width: '100%',
                                height: '100%',
                            })
                            .begin()
                            .for_each([{
                                    name: 'Denis',
                                    image: '1.png'
                                },

                                {
                                    name: 'Metro',
                                    image: '2.jpg'
                                }],

                                function(view, element) {
                                view
                                    .block({
                                        width: '150px',
                                        height: '200px',
                                        margin: '7.5px 20px 20px 7.5px',
                                        padding: '15px',
                                        backgroundColor: '#fff',
                                        boxShadow: '1px 1px 0px 0px rgb(23, 16, 82)'
                                    })
                                    .begin()
                                        .image({
                                            src: element.image,
                                            width: '150px',
                                            height: '150px'
                                        })
                                        .block({
                                            width: '100%',
                                            height: 'auto',
                                            margin: '10px 0 0 0'
                                        })
                                        .begin()
                                            .label(element.name)
                                        .end()
                                    .end()
                            })
                            .end()
                        .end()
                    .end()
                .end()
        }

        //for(var i = 0; i < 3; ++i)
            redraw(view)
    </script>
</body>
</html>