<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <script src="loader/loader.js"></script>

    <style>
        body, html
        {
            position: relative;
            padding:  0;
            margin:   0;
            width:    100%;
            height:   100%;
            overflow: auto;
            background-color: #eee;
        }

        .grid
        {
            display: grid;
        }

        .col
        {

        }
    </style>
</head>
<body>
    <!--div class="grid">
        <div class="col">A</div>
        <div class="col">B</div>
        <div class="col">A</div>
        <div class="col">Bfdgdfgdfgdf</div>
        <div class="col">Adfgfdgfgdfgdf</div>
        <div class="col">Bgfdgfdfgfdg</div>
        <div class="col">Agfdgdfgfdgdf</div>
        <div class="col">Bgfdgdfgdfgdfgfd</div>
    </div-->

    <!--input oninput="searchText = this.value; redraw(view)">
    <button onclick="texts = ['text1', 'text2', 'text3']; redraw(view)">click</button>
    <div-->

    <script>
/*
        var Number = require('number/number.js')
        var Polynom = require('polynom/polynom.js')

        var a = Number.create()
        var b = Number.copy(Number.one)

        //a.isNegate = true
        Number.addTail(a, 1)
        //Number.addTail(a, 1)

        Number.add(a, b)
        //Number.add(a, b)
        //Number.add(a, b)

        //console.log(a)
*/

/*
        var Catalog = require('view/components/catalog.js')

        var catalogView = Catalog.create()
        Catalog.redraw(catalogView, [
            {
                name: 'Denis',
                image: '1.png'
            },

            {
                name: 'Metro',
                image: '2.jpg'
            }
        ])
*/
        var View = require('view/view.js')
        var WebGL = require('view/elements/WebGL/WebGL.js')

        var view = View.create(document.body)

        WebGL.add(view)

        function redraw(view) {
            view
                .begin()
                    .WebGL({
                        width: '100%',
                        height: '100%',

                        draw: function(gl, createStaticModel, drawStaticModel) {
                            var model1 = createStaticModel(
                                [
                                    0.0, 0.0, 0.0,
                                    -1.0, 0.0, 0.0,
                                    -1.0, -1.0, 0.0,
                                    0.0, -1.0, 0.0
                                ],

                                [0, 1, 2, 0, 3, 2]
                            )
/*
                            var model2 = createStaticModel(
                                [
                                    0.0, 0.0, 0.0,
                                    1.0, 0.0, 0.0,
                                    1.0, 1.0, 0.0
                                ],

                                [0, 1, 2]
                            )*/

                            drawStaticModel(model1)
                            //drawStaticModel(model2)
                        }
                    })
                .end()
        }

        redraw(view)
    </script>
</body>
</html>