<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="loader/loader.js"></script>
</head>
<body>
    <script>
        /*
        var Number = require('number/number.js')
        var Polynom = require('polynom/polynom.js')

        var a = Number.create()
        var b = Number.copy(Number.one)

        //a.isNegate = true
        Number.addTail(a, 1)
        //Number.addTail(a, 1)

        Number.add(a, b)
        //Number.add(a, b)
        //Number.add(a, b)

        //console.log(a)*/

        var View = require('view/view.js')
        var Label = require('view/elements/label.js')

        var view = View.create(document.body)

        Label.add(view)

        function redraw(view) {
            view
                .begin()
                    .if(false, function(view) {
                        view
                            .label('true')
                    })
                    .label('text')
                .end()
        }

        for(var i = 0; i < 3; ++i)
            redraw(view)
    </script>
</body>
</html>